<h1>Restaurant</h1>
<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h3>Reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>Rating:
      <%= review.rating %>.
      <%= review.content %></li>
  <% end %>
</ul>
