<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h3>Reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>Rating:
      <%= review.rating %>.
      <%= review.content %></li>
  <% end %>
</ul>

<p><%= link_to "Add Review", new_restaurant_review_path(@restaurant) %></p>
